.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  transition: all 0.3s ease;
}

.job-search-container .popular-button {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.job-search-container .popular-button:hover {
  background-color: #d1fae5; /* Equivalent to Tailwind's bg-green-100 */
  color: #047857; /* Equivalent to Tailwind's text-green-700 */
}

.dropdown {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  transition-delay: 100ms;
}

.group:hover .dropdown {
  opacity: 1;
  transition-delay: 0ms;
}

.dropdown:hover {
  opacity: 1;
  transition-delay: 0ms;
}

.group:not(:hover) .dropdown {
  transition-delay: 300ms; /* Delay the fade-out by 300ms */
}
